.nav-bg{
    background-color: rgb(33, 36, 41);
}

a{
    color: rgb(155, 157, 158) !important;
    margin-right: 10px;
}

.copyright-container{
    background-color: rgb(33, 36, 41);
}

.nav-bg .nav-link:hover {
    color: #fff !important;
    transition: color 0.3s ease !important;
}

