.nav-bg{
    background-color: rgb(45, 62, 80) !important;
}

.avatar-container{
    background-color:rgb(27, 188, 155);
}

.container-portfolio{
    color: rgb(45, 64, 88);
}

.about-container{
    background-color: rgb(27, 188, 155);
}

.footer-container{
    background-color: rgb(45, 62, 80);
}

.copyright{
    background-color: rgb(0, 0, 0);
}

a{
    color: rgb(27, 188, 155);
}

a:hover{
    color: green;
}

.btn{
  padding: 1rem 1.5rem;
  font-size: 1.25rem; 
}